---
import FormattedDate from "../components/FormattedDate.astro";
import Button from "../components/Button.astro";
import { GetICS } from "../components/GetICS";

interface Props {
	post: any;
}

const { post } = Astro.props;

const ics = GetICS(post);
---

<main>
	<article>
		<div class="hero-image">
			{
				post.Bild && (
					<img width={1020} height={510} src={post.Bild} alt="" />
				)
			}
		</div>
		<div class="prose">
			<div class="title">
				<h3>
					<FormattedDate
						dateStr={post.Datum}
						timeStr={post.Uhrzeit}
					/>
				</h3>
				<h1>{post.Titel}</h1>
				<div class="flex justify-around mb-2">
					{
						post.GoogleMaps && (
							<Button
								text="Wo?"
								icon="map"
								link={post.GoogleMaps}
							/>
						)
					}
					{
						post.Uhrzeit && (
							<Button text={post.Uhrzeit} icon="clock" />
						)
					}
					{post.Preis && <Button text={`${post.Preis} Euro`} />}

					{ics && <Button text="Kalender" icon="cal" link={ics} />}
				</div>
				<hr />
			</div>
			<slot />
		</div>
	</article>
</main>

<style>
	.hero-image {
		width: 100%;
	}
	.hero-image img {
		display: block;
		margin: 0 auto;
		border-radius: 12px;
		box-shadow: var(--box-shadow);
	}
	.prose {
		width: 720px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 1em;
		color: rgb(var(--gray-dark));
	}
	.title {
		margin-bottom: 1em;
		padding: 1em 0;
		text-align: center;
		line-height: 1;
	}
	.title h1 {
		margin: 0 0 0.5em 0;
	}

	.last-updated-on {
		font-style: italic;
	}
</style>
